<!-- <h1 appEstiloHermanos>{{nombre | miPipePersonalizado}}</h1> -->
<h1>{{nombre | uppercase}}</h1>
<h3>Fecha: {{fecha | date: 'dd/MM/yy'}}</h3>
<h4>cotiza dolar: {{dolar | currency: 'USD'}}</h4>

 <button type="button" (click)="saludar()">Hi!!!</button>
 <button type="button" (click)="preguntar()" appEstiloHermanos>Preguntar pòr Hijo!</button>




<!-- <app-hijo 
(mensajeDesdeHijo)="recibirMensaje($event)" > 



(incrementarDesdeHijo)="incrementar()"
(decrementarDesdeHijo)="decrementar()"



</app-hijo>



<h5>el mensaje recidibo desde el hijo es: {{mensajeRecibido}}</h5>

<h3>Contador</h3>
<p>{{valorContador}}</p>
 -->



















<!--<h1>  CONTADOR</h1>
<p>{{valorContador}}</p>

<button (click)="incrementar()" >Incrementar</button>
<button (click)="decrementar()">Decrementar</button>-->